.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "adidas apple amazon beats"
        "adidas apple amazon beats";
    margin-top: 10vh;
}

.adidas{
    grid-area: adidas;
}

.apple{
    grid-area: apple;
}

.amazon{
    grid-area: amazon;
}

.beats{
    grid-area: beats;
}

div img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* grouping the 4 grid area classes together */
.adidas, .apple, .beats, .amazon{
    justify-self: center;
    align-self: center;
    padding: 3em;
    max-height: 50vh;
    border: 1px solid #eee;
}